<div class="bg">
  <div id="main" class="grid_12">
    <a name="TemplateInfo"></a>
    <h2><%= link_to @project.subject, @project %></h2>
    <% if @unit %>
      <p class="post-info">This version is created by <%= link_to @unit.user.login, @unit.user %> on <%= german_time @unit.created_at %> </p>
      <p id="contenttext"><%= @text %></p>


      <p class="postmeta">
        <% if @editor %>
          <b>Warning:</b> <%= link_to @editor.login, @editor  %> is changing this document since
          <%= german_time @project.edited_at  %>! You can  <%= link_to 'Change the document', write_project_path(@project) %> anyway,
          but we don't reconmmend it because you can destroy what has just been written.
        <% else %>
          <%= link_to 'Change the document', write_project_path(@project) %>
        <% end %>
      <% else %>
        <p class="postmeta">
        <%= link_to 'Write the document', write_project_path(@project) %></p>
      <% end %>
    </p>
  </div>

  <div class="grid_4">
    <h3>Project abstract</h3>
    <div class="featured-post">
      <h4><a href="index.html"><%=h @project.subject %></a></h4>
      <p class="post-info">Initially created by <%= link_to  @project.user.login, @project.user %> on <%= german_time @project.created_at %>  </p>
      <p><b>Public?:</b> <%=h @project.public %></p>
      <p><%=h @project.content %></p>
      <p>
        <%= link_to 'Back', projects_path, :class => "more-link" %> |
        <% if  controller.project_owner %>
        <%= link_to 'Edit project', edit_project_path(@project), :class => "more-link" %> |
        <% end %>
        <%= link_to 'Share', share_project_path(@project), :class => "more-link" %>
      </p>
    </div>
    <div class="sidemenu">
      <h4>Contributing users</h4>
      <ul>
        <% if @users
          @users.each do |user| %>
            <li><span style="background:<%= Unit.id_to_color(user.id, @project.id) %>">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  <%= link_to "<span>" + h(user.login) + "</span>", user %> &nbsp; &nbsp;</span></li>
          <% end
        end %>
      </ul>

      <h4>Versions</h4>
      <div class="scrollbox">
        <ul class="versions">
          <% @units.each do |unit| %>
            <li><a href="?version=<%=  unit.id%>"><%= german_time unit.created_at %>: <span style="background:<%= Unit.id_to_color(unit.user_id, @project.id) %>"><%= unit.user.login %></span> </a></li>
          <% end  %>
        </ul>
      </div>
    </div>

  </div>


</div>
