<div id="contentindex">
  <h1>Tutorial</h1>
  <h2>1. Sign up</h2>
  <div class="center">
    <%= image_tag "tutorial/1.png" %>
  </div>
  <h2>2. Accept your confirmation-email</h2>

  <h2>3. Login</h2>
  <div class="center">
    <%= image_tag "tutorial/3.png" %>
  </div>

  <h2>4. Pic a project</h2>
  <div class="center">
    <%= image_tag "tutorial/41.png" %>
  </div>
  <div class="center">
    <%= image_tag "tutorial/42.png" %>
  </div>

  <h2>5. Read and think about the document</h2>
  <div class="center">
    <%= image_tag "tutorial/51.png" %>
  </div>
  <div class="center">
    <%= image_tag "tutorial/52.png" %>
  </div>

  <h2>6. Change it</h2>
  <div class="center">
    <%= image_tag "tutorial/6.png" %>
  </div>

  <h2>7. .. and your done.</h2>
  <div class="center">
    <%= image_tag "tutorial/7.png" %>
  </div>
</div>